extends ../layout
block content

  .navbar
    .navbar-inner
        a.brand(href="/products/#{product.slug}") Product: 
          strong=product.name
        ul.nav
            - if(product.isNew)
              li.active
                a(href="/products/form/") Create
            - else
              li
                a(href="/products/form/") Create
            li
                a(href="/products/#{product.slug}/") Details
            - if(!product.isNew)
              li.active
                a(href="/products/form/#{product.slug}/") Update
            - else
              li
                a(href="/products/form/#{product.slug}/") Update
            li
                a(href="/products/#{product.slug}/delete/") Delete
            li
                a(href="/products/") List

  form(action='/products/', method='post')

      input(name='product[_id]', value='#{product.id}', type='hidden')

      - if(!product.isNew)
        input(name='_method', value='PUT', type='hidden')

      .control-group
        label.control-label(for='product_name') Product Name
        .controls
          input#product_name.input-xxlarge(type='text', placeholder='Name', name='product[name]', value='#{product.name}')
      .control-group
        label.control-label(for='product_slug') Slug
        .controls
          input#product_slug.input-xxlarge(type='text', placeholder='Slug', name='product[slug]', value='#{product.slug}')
      .control-group
        label.control-label(for='product_img') Image
        .controls
          input#product_img.input-xxlarge(type='text', placeholder='Image', name='product[img]', value='#{product.img}')
      .control-group
        label.control-label(for='product_description') Description
        .controls
          textarea#message_message.input-xxlarge(placeholder='Description', rows='6', name='product[description]')=product.description
      button.btn(type='submit') Save Product